<footer style="text-align: center; padding: 5px; color: #237CBE; background: #F0F0F0">
  <p>
    Want more crappy rails designs? Holler at your boy:<br>
    <%= link_to 'Dan Wagner','http://danwagner.co' %>
  </p>
</footer>
